form{
    background-color: darksalmon;
    width: 50%;
    height:400px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;

}
label{
    display: inline-block;
    margin-left: 5px;
}
button{
    margin-left: 5px;
    width: 200px;
}
input[type=text], [type=email], [type=password],#lang{
    float: right;














}